.env
invitations.txt
invitations.json
venues.txt
venues.json
all_venues.txt
all_venues.json
invitations_backup.json
txt_to_json_pretty_converter.py
fetch_llm_model.py
test.txt
desk_reject_notes.json
invitaitons.json
venues.json
backup/
components/__pycache__
bucket_titles.md
dataset_generator.py
dataset_generator2.py
bucket_names.md
components/config/__pycache__
*.txt
ingestion2.py
data/raw/*
data/raw
data/processed