.env
invitations.txt
invitations.json
venues.txt
venues.json
all_venues.txt
all_venues.json
invitations_backup.json
txt_to_json_pretty_converter.py
fetch_llm_model.py
test.txt
accepeted_papers.json
desk_reject_notes.json
desk_rejects.json
*.json
backup/
data/
data/*
components/__pycache__
bucket_titles.md
dataset_generator.py
bucket_names.md
components/config/__pycache__
*.txt